/*------------------------------------*\
    Heading Levels
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    h1, h2, h3 {

        font-family: $font-stack-serif;
    	font-weight: $font-weight-serif;
    	line-height: $line-height-headings;
    	
    	clear: both;

    	& + * {
    	    margin-top: $half-spacing;
    	}

    }

    h1 {
		font-size: $font-size-h1;
    }

    h2 {
		font-size: $font-size-h2;
    }

    h3 {
        font-size: $font-size-h3;
    }

}