# Build directory
_site

# SASS
.sass-cache

# Jekyll internals
.jekyll-metadata

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Gulp
.bundle

# Mac
.DS_Store

# IDE
.idea