---
layout: default
title: Switching from Mac to Windows?
description: Here are some resources that should help you get started.
---

{% assign tags = site.data.tags | sort:'title' %}

{% for tag in tags %}
	
	{% assign resources = site.data.resources | by_tag:tag.slug | sort:'image' | reverse %}
	{% if resources.size > 0 %}

		<section id="{{ tag.slug }}" class="section section--{{ tag.slug }}">
			<h2 class="section__title">{{ tag.title }}</h2>
			<ul>
				{% for resource in resources limit:site.post_teaser_limit %}
				<li class="resource resource--{{ forloop.index0 }}">
					<h3 class="resource__title"><a href="{{ resource.url }}">{{ resource.title }}</a></h3>
					{% if resource.author %}
						<b class="resource__byline">by {{ resource.author }}</b>
					{% endif %}
					<p class="resource__description">{{ resource.description | truncatewords: 20 }}</p>
				</li>
				{% endfor %}
			</ul>	

			{% if resources.size > site.post_teaser_limit %}
				<p class="section__more"><a href="/{{ tag.slug }}">More {{ tag.title | lowercase }}</a></p>
			{% endif %}

		</section>

	{% endif %}

{% endfor %}