/*------------------------------------*\
    Resource
\*------------------------------------*/

@include breakup-breakpoint( "global" ) {

    .resource-list {
        list-style: none;

        &__item {
            margin-top: $default-spacing-fallback;
            margin-top: $default-spacing;
        }
    }
   
}

