---
layout: default
---

{% assign resources = site.data.resources | by_tag:{{page.tag}} %}
{% if resources.size > 0 %}
    <ul class="resource-list">
        {% for resource in resources %}
            <li class="resource-list__item resource-list__item--{{ forloop.index0 }}">
                {% include resource.html %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>We don’t have any resources for this section yet. You you consider adding some? We accept pull requests.</p>
{% endif %}
